<div class="card my-5 col-6 register-page">
    <div class="container my-5">

        <div class="form-group">
            <label for="userId">Username:</label>
            <input type="text" name="userId" class="form-control" [(ngModel)]='vm.registerArray.userName'>
        </div>

        <div class="form-group">
            <label for="empId">Employee Id:</label>
            <input type="text" name="empId" class="form-control" [(ngModel)]='vm.registerArray.employeeId'>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <select class="custom-select" name="role" id="role" (change)="onRoleSelect($event.target.value)"
                [(ngModel)]="vm.registerArray.role ">
                <option *ngFor="let item of role" value="{{ item.Value }}">
                    {{ item.Label }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" [(ngModel)]='vm.registerArray.email'>
        </div>

        <div class="form-group">
            <label for="pswd">Password:</label>
            <input type="password" name="pswd" class="form-control" [(ngModel)]='vm.registerArray.password'>
        </div>

        <button class="btn btn-block btn-block" (click)='register(vm.registerArray)'>Register</button>
        <!-- <a routerLink='/login'>Login</a> -->
        <button class="btn btn-block btn-dark" routerLink='/login'>Login</button>
    </div>
</div>