<div class="card col-6 my-5 login-page ">
<div class="my-3">
    <div class="form-group">
        <label for="empId">Employee Id:</label>
        <input type="text" name="empId" class="form-control" id="" [(ngModel)]='empId'>
    </div>
    <div class="form-group">
        <label for="userName">Username:</label>
        <input type="text" name="userName" class="form-control" id="" [(ngModel)]='user'>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" id="" [(ngModel)]='email'>
    </div>

    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" name="" id="">
            <option value="admin">Admin</option>
        </select>
    </div>

    <div class="text-center p-2">
        <button class="btn btn-default">Back</button>
        <button class="btn btn-warning">Update</button>
        <button class="btn btn-danger">Delete</button>
    </div>
</div>
</div>